<!-- <router-outlet></router-outlet> -->

<input type="text" placeholder="Search Github Jobs." (input)="load_data($event)">

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Company</th>
  </tr>
  <tr *ngFor="let db of data;">
    <td>{{db.title}}</td>
    <td>{{db.location}}</td>
    <td>{{db.company}}</td>
  </tr>
</table>