input {
    border-radius: 6px;
    margin: 32px 0;
    min-width: 300px;
    padding: 8px;
}

th {
    background-color: #ddd;
}

tr,
th,
td {
    border-bottom: 1px solid #bbb;
    padding: 16px;
}
